*.sqlite3
*.sqlite3-journal
*.log
spool/monitor/
spool/recording/
spool/voicemail/
spool/tmp/
spool/dictate/
lib/sounds/en/
lib/sounds/es/
lib/sounds/fr/
lib/sounds/ja/
lib/sounds/ru/
lib/firmware/
lib/documentation/
lib/third-party/
lib/rest-api/
lib/phoneprov/
lib/static-http/
*.pem
*.key
*.crt
*.pyc
__pycache__/
*.swp
*~
.DS_Store
